OAUTH_SIGNING_KEY={{OAUTH_SIGNING_KEY}}

# OPTIONAL SETTINGS

# QUERY_HANDLER_PLUGIN=@edfi/meadowlark-opensearch-backend
# LISTENER1_PLUGIN=@edfi/meadowlark-opensearch-backend
# DOCUMENT_STORE_PLUGIN={{DOCUMENT_STORE_PLUGIN}} # defaults to @edfi/meadowlark-mongodb-backend
# MONGODB_USER={{MONGODB_USER}}
# MONGODB_PASS={{MONGODB_PASS}}

# Meadowlark API docker image configuration
# API_IMAGE_NAME=edfialliance/meadowlark-ed-fi-api:pre

# Enable this flag to enter dev mode, the test images are not deleted until deleted with `npm run test:e2e:dev:exit`
# DEVELOPER_MODE=true

# When using dev mode, key and secret can only be generated once
# ADMIN_KEY={{KEY}}
# ADMIN_SECRET={{SECRET}}