OAUTH_SIGNING_KEY={{OAUTH_SIGNING_KEY}}

ACCESS_TOKEN_REQUIRED=true
OPENSEARCH_USERNAME={{OPENSEARCH_USERNAME}}
OPENSEARCH_PASSWORD={{OPENSEARCH_PASSWORD}}
OPENSEARCH_ENDPOINT=http://localhost:8200
# DOCUMENT_STORE_PLUGIN=@edfi/meadowlark-postgresql-backend
DOCUMENT_STORE_PLUGIN=@edfi/meadowlark-mongodb-backend
QUERY_HANDLER_PLUGIN=@edfi/meadowlark-opensearch-backend
LISTENER1_PLUGIN=@edfi/meadowlark-opensearch-backend
AUTHORIZATION_STORE_PLUGIN=@edfi/meadowlark-mongodb-backend
MONGO_LOG_LEVEL=debug
POSTGRES_USER={{POSTGRES_USER}}
POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
POSTGRES_PORT=5433
FASTIFY_RATE_LIMIT=false
FASTIFY_PORT={{FASTIFY_PORT}}
MEADOWLARK_STAGE=local
LOG_LEVEL=DEBUG
IS_LOCAL=true
BEGIN_ALLOWED_SCHOOL_YEAR=2022
END_ALLOWED_SCHOOL_YEAR=2034

TOKEN_URL=http://localhost:3001/local/api/oauth/token
OAUTH_HARD_CODED_CREDENTIALS_ENABLED=true
OAUTH_SERVER_ENDPOINT_FOR_OWN_TOKEN_REQUEST=http://localhost:3001/local/oauth/token
OAUTH_SERVER_ENDPOINT_FOR_TOKEN_VERIFICATION=http://localhost:3001/local/oauth/verify
OWN_OAUTH_CLIENT_ID_FOR_CLIENT_AUTH=meadowlark_verify-only_key_1
OWN_OAUTH_CLIENT_SECRET_FOR_CLIENT_AUTH=meadowlark_verify-only_secret_1

# Enable TestContainers Debugging
# DEBUG=testcontainers*