OAUTH_SIGNING_KEY={{OAUTH_SIGNING_KEY}}

# OPTIONAL SETTINGS

# DOCUMENT_STORE_PLUGIN={{DOCUMENT_STORE_PLUGIN}} # defaults to @edfi/meadowlark-mongodb-backend
# MONGODB_USER={{MONGODB_USER}}
# MONGODB_PASS={{MONGODB_PASS}}

# Meadowlark API docker image configuration
# API_IMAGE_NAME=meadowlark-ed-fi-api