!.gitkeep
.DS_Store
coverage/
lerna-debug.log
logs/*
node_modules/
npm-debug.log
tmp
dist/
docs/
yarn-error.log
fastify.log

# AWS emulator directories
.dynamodb/
dynamodb_local_data/
.localstack/

# Modern Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# jest-mongodb
globalConfig.json