!.gitkeep
.DS_Store
coverage/
lerna-debug.log
logs/*
node_modules/
npm-debug.log
tmp
dist/
docs/

# AWS emulator directories
.dynamodb/
dynamodb_local_data/
.localstack/

# jest-mongodb
globalConfig.json

*.log

# clinicjs profiling output
.clinic/
