!.gitkeep
.DS_Store
coverage/
lerna-debug.log
logs/*
node_modules/
npm-debug.log
tmp
dist/
docs/
yarn-error.log

# Serverless directories
.serverless/

# AWS emulator directories
.dynamodb/
dynamodb_local_data/
.localstack/