{
  "name": "DebeziumConnector",
  "config": {
      "connector.class": "io.debezium.connector.mongodb.MongoDbConnector",
      "tasks.max": "1",
      "topic.prefix": "edfi",
      "mongodb.connection.string": "<your-mongo-connection-string>",
      "mongodb.user": "<admin-username-goes-here>",
      "mongodb.password": "<admin-password-goes-here>",
      "database.history.kafka.bootstrap.servers": "kafka:9092",

      "key.converter": "org.apache.kafka.connect.json.JsonConverter",
      "key.converter.schemas.enable": "false",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": "false",

      "predicates": "isTombstone",
      "predicates.isTombstone.type": "org.apache.kafka.connect.transforms.predicates.RecordIsTombstone",

      "transforms": "dropTombstone,extractDebeziumAfter",
      "transforms.dropTombstone.type": "org.apache.kafka.connect.transforms.Filter",
      "transforms.dropTombstone.predicate": "isTombstone",
      "transforms.extractDebeziumAfter.type": "org.apache.kafka.connect.transforms.ExtractField$Value",
      "transforms.extractDebeziumAfter.field":"after"
  }
}
