# Fastify 

###
# If running directly (without running fastify)
# Copy the same values as the .env file
# in ./Meadowlark-js/services/meadowlark-fastify
###

# End to end tests

ROOT_URL = http://localhost:3000
BASE_URL = http://localhost:3000/local

# Provide if existing, if not, a new one will be generated
ADMIN_KEY = ""
ADMIN_SECRET = ""
VENDOR_KEY = ""
VENDOR_SECRET = ""
# Host user with assessment role
HOST_KEY = ""
HOST_SECRET = ""
OAUTH_SERVER_ENDPOINT_FOR_OWN_TOKEN_REQUEST=http://localhost:3000/local/oauth/token
OAUTH_SERVER_ENDPOINT_FOR_TOKEN_VERIFICATION=http://localhost:3000/local/oauth/verify
