ROOT_URL = http://localhost:3000

# Provide if existing, if not, a new one will be generated
ADMIN_KEY = ""
ADMIN_SECRET = ""
# Skip user creation by using existing values
VENDOR_KEY = ""
VENDOR_SECRET = ""
# Host user with assessment role
HOST_KEY = ""
HOST_SECRET = ""
