ROOT_URL = http://localhost:3000
BASE_URL = http://localhost:3000/local
CLIENT_KEY_1 = "meadowlark_key_1"
CLIENT_SECRET_1 = "meadowlark_secret_1"
CLIENT_KEY_4 = "meadowlark_key_4"
CLIENT_SECRET_4 = "meadowlark_secret_4"
ADMIN_KEY_1 = "meadowlark_admin_key_1"
ADMIN_SECRET_1 =  "meadowlark_admin_secret_1"