#### Environment variables for security

# OAuth 2.0 signing key: base 64 encoded, 256 bit key. To create a new one,
# try running the application and accessing endpoint /{stage}/createSigningKey or run `openssl rand -base64 256`.
OAUTH_SIGNING_KEY=<signing key>
OWN_OAUTH_CLIENT_ID_FOR_CLIENT_AUTH=meadowlark_verify-only_key_1
OWN_OAUTH_CLIENT_SECRET_FOR_CLIENT_AUTH=meadowlark_verify-only_secret_1
OAUTH_SERVER_ENDPOINT_FOR_OWN_TOKEN_REQUEST=http://localhost:3000/local/oauth/token
OAUTH_SERVER_ENDPOINT_FOR_TOKEN_VERIFICATION=http://localhost:3000/local/oauth/verify
OAUTH_HARD_CODED_CREDENTIALS_ENABLED=false
# See the OAUTH.md file for more more OAUTH override settings

#### Environment variables for running Meadowlark locally

# Local OpenSearch basic authentication username and password. Defaults should be fine.
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_ENDPOINT=http://localhost:9200
# Timeout in ms
OPENSEARCH_REQUEST_TIMEOUT=10000

# ElasticSearch endpoint and timeout.
# Required fields when QUERY_HANDLER_PLUGIN is set to use Elasticsearch.
ELASTICSEARCH_ENDPOINT=http://localhost:9200
ELASTICSEARCH_REQUEST_TIMEOUT=10000

#### Configurable backend plugin PoC - set to an npm package name
DOCUMENT_STORE_PLUGIN=@edfi/meadowlark-mongodb-backend

# Options: @edfi/meadowlark-opensearch-backend or @edfi/meadowlark-elasticsearch-backend
QUERY_HANDLER_PLUGIN=@edfi/meadowlark-opensearch-backend 

#LISTENER1_PLUGIN=@edfi/meadowlark-opensearch-backend

#LISTENER2_PLUGIN=@edfi/meadowlark-test-listener


#### MongoDB backend options

MONGO_URI=mongodb://<username>:<password>@mongo1:27017,mongo2:27018,mongo3:27019/?replicaSet=rs0

#### PostgreSQL backend options

#POSTGRES_USER=<username>
#POSTGRES_PASSWORD=<password>


#### Fastify options

# Rate limiter - default true
FASTIFY_RATE_LIMIT=true

# Listen port - default 3000
FASTIFY_PORT=3000

# By default, the service will start one Fastify worker for each CPU core.
# Uncomment and set to an appropriate number if you want to use fewer threads.
# FASTIFY_NUM_THREADS=1

#### Deployment options
# This "stage" name will appear in the API routes
MEADOWLARK_STAGE=local

#### Logging
# Valid levels include: error, warning, info, debug (higher levels provide faster logging performance)
LOG_LEVEL=debug
# When true, logs to plain text instead of JSON (slower logging performance)
LOG_PRETTY_PRINT=true
# By default, Meadowlark writes logs to STDOUT. Set to true to log to a file instead (faster logging performance)
# LOG_TO_FILE=false
# If previous flag is set, specify a path to save the logs
# LOG_FILE_LOCATION=<path>

#### Authorization Server options
# Configurable authorization store plugin - set to an npm package name
AUTHORIZATION_STORE_PLUGIN=@edfi/meadowlark-mongodb-backend

### School year validation
# Although there should only be one year of data in an Ed-Fi API instance,
# there are cases where future years need to be recorded - for example, a 
# student's expected (future) graduation year. Rather than listing these
# out individually, provide a range of valid years. Any POST/PUT with
# a school year outside this range will be rejected with a 400 response.
BEGIN_ALLOWED_SCHOOL_YEAR=2022
END_ALLOWED_SCHOOL_YEAR=2034

#### Experimental features

# Allow the API to accept "1" for 1 and "true" for true, etc. Must be true when
# using the client-side bulk loader.
ALLOW_TYPE_COERCION=true
# Allow the API to accept an extra { _ext: {} } property in a payload. Must be
# true when bulk uploading the ODS/API "populated template".
ALLOW__EXT_PROPERTY=true
