#### Environment variables for security

# OAuth 2.0 signing key: base 64 encoded, 256 bit key. To create a new one,
# try running the application and accessing endpoint /{stage}/createKey.
SIGNING_KEY=v/AbsYGRvIfCf1bxufA6+Ras5NR+kIroLUg5RKYMjmqvNa1fVanmPBXKFH+MD1TPHpSgna0g+6oRnmRGUme6vJ7x91OA7Lp1hWzr6NnpdLYA9BmDHWjkRFvlx9bVmP+GTave2E4RAYa5b/qlvXOVnwaqEWzHxefqzkd1F1mQ6dVNFWYdiOmgw8ofQ87Xi1W0DkToRNS/Roc4rxby/BZwHUj7Y4tYdMpkWDMrZK6Vwat1KuPyiqsaBQYa9Xd0pxKqUOrAp8a+BFwiPfxf4nyVdOSAd77A/wuKIJaERNY5xJXUHwNgEOMf+Lg4032u4PnsnH7aJb2F4z8AhHldM6w5jw==

# If "true", request fails if no access token is presented
ACCESS_TOKEN_REQUIRED=true


#### Environment variables for running Meadowlark locally

# Local OpenSearch basic authentication username and password. Defaults should be fine.
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_ENDPOINT=http://localhost:9200

#### Configurable backend plugin PoC - set to an npm package name
DOCUMENT_STORE_PLUGIN=@edfi/meadowlark-mongodb-backend

QUERY_HANDLER_PLUGIN=@edfi/meadowlark-opensearch-backend

#LISTENER1_PLUGIN=@edfi/meadowlark-opensearch-backend

#LISTENER2_PLUGIN=@edfi/meadowlark-test-listener


#### MongoDB backend options

MONGO_URL=mongodb://<username>:<password>@mongo1:27017,mongo2:27018,mongo3:27019/?replicaSet=rs0
#MONGO_LOG_LEVEL=DEBUG


#### PostgreSQL backend options

#POSTGRES_USER=<username>
#POSTGRES_PASSWORD=<password>


#### Fastify options

# Rate limiter - default true
FASTIFY_RATE_LIMIT=true

# Listen port - default 3000
FASTIFY_PORT=3000


#### Deployment options
# This "stage" name will appear in the API routes
MEADOWLARK_STAGE=local

TOKEN_URL: http://localhost:3000/local/api/oauth/token

#### Logging
# Valid levels include: ERROR, WARNING, INFO, DEBUG
LOG_LEVEL=DEBUG
# When true, logs to plain text instead of JSON
IS_LOCAL=true