{
  "name":"kafka_opensearch",
  "config": {
    "connector.class": "io.aiven.kafka.connect.opensearch.OpensearchSinkConnector",
    "topics": "edfi.meadowlark.documents, edfi.meadowlark.authorizations",
    "connection.url": "<your-opensearch-url>",
    "connection.username": "<your-opensearch-username-goes-here>",
    "connection.password": "<your-opensearch-password-goes-here>",
    "type.name": "TYPE_NAME",
    "tasks.max":"1",
    "key.ignore": "true",

    "key.converter": "org.apache.kafka.connect.json.JsonConverter",
    "key.converter.schemas.enable": "false",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false"
  }
}
