name: On Pull Request

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "Meadowlark-js/**"
      - ".github/**"
  workflow_dispatch:

env:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: abcdefgh1!

defaults:
  run:
    working-directory: Meadowlark-js

jobs:
  scan-actions:
    name: Scan Actions
    uses: ed-fi-alliance-oss/ed-fi-actions/.github/workflows/repository-scanner.yml@latest

  analyze-code:
    if: github.event_name == 'pull_request'
    name: Analyze Code Dependencies
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Dependency Review ("Dependabot on PR")
        uses: actions/dependency-review-action@a9c83d3af6b9031e20feba03b904645bb23d1dab # v1.0.2

  analyze:
    name: Analyze Code
    runs-on: ubuntu-latest
    env:
      SRC_DIR: Meadowlark-js
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Node modules cache
        id: modules-cache
        uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: ${{ steps.modules-cache.outputs.cache-hit != 'true' }}
        run: yarn install

      - name: Initialize CodeQL
        uses: github/codeql-action/init@1fae5bf71b0ecdc7d0a2ef0d0c28409d99693966 # v2.9.2
        with:
          languages: "typescript"
          setup-python-dependencies: false

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@1fae5bf71b0ecdc7d0a2ef0d0c28409d99693966 # v2.9.2

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Node modules cache
        id: modules-cache
        uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: ${{ steps.modules-cache.outputs.cache-hit != 'true' }}
        run: yarn install

      - name: Linter
        run: yarn test:lint

  test:
    name: Unit, Integration and System Tests
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: NPM caching
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Node modules cache
        id: modules-cache
        uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: ${{ steps.modules-cache.outputs.cache-hit != 'true' }}
        run: yarn install

      - name: Unit tests with code coverage
        run: yarn test:unit:coverage --ci --config ./jest.ci-config.js
        env:
          JEST_JUNIT_OUTPUT_DIR: unit-tests

      - name: Archive coverage results
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: code-coverage-report
          path: Meadowlark-js/coverage/lcov-report
          retention-days: 10

      - name: Configure postgres
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -U postgres -c "alter user postgres with password '${{env.POSTGRES_PASSWORD}}';"

      - name: Integration tests
        run: yarn test:integration --ci --config ./jest.ci-config.js
        env:
          JEST_JUNIT_OUTPUT_DIR: integration-tests

      - name: System tests
        run: yarn test:system --ci --config ./jest.ci-config.js
        env:
          JEST_JUNIT_OUTPUT_DIR: system-tests

      - name: Upload test results
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: test-results
          path: |
            Meadowlark-js/integration-tests/junit.xml
            Meadowlark-js/system-tests/junit.xml
            Meadowlark-js/unit-tests/junit.xml
          retention-days: 1

  end-to-end:
    name: End to End tests for ${{ matrix.config.db }}
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          [
            { db: "Mongo", plugin: "@edfi/meadowlark-mongodb-backend" },
            { db: "PGSQL", plugin: "@edfi/meadowlark-postgresql-backend" },
          ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: NPM caching
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Node modules cache
        id: modules-cache
        uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: ${{ steps.modules-cache.outputs.cache-hit != 'true' }}
        run: yarn install

      # This caching is breaking Lerna 6. Look into in more detail to see if we can fix.
      # - name: Cache Build
      #   uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
      #   env:
      #     cache-name: cache-build
      #   with:
      #     path: "**/dist/**"
      #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/dist/**') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Build
        # if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        run: yarn build

      - name: End to End tests for ${{matrix.config.db}}
        run: |
          cp ./tests/e2e/automation-setup/e2e.env ./tests/e2e/.env
          yarn test:e2e --ci --reporters="default" --reporters="jest-junit"
        env:
          JEST_JUNIT_OUTPUT_DIR: ${{matrix.config.db}}-e2e-tests
          DOCUMENT_STORE_PLUGIN: ${{ matrix.config.plugin }}
          OPENSEARCH_USERNAME: admin
          OPENSEARCH_PASSWORD: admin
          MONGO_URL: "mongodb://127.0.0.1:42069/?replicaSet=rs0"

      # Workaround for issue https://github.com/actions/upload-artifact/issues/174
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: test-results
          path: |
            Meadowlark-js/${{matrix.config.db}}-e2e-tests/junit.xml
            Meadowlark-js/.prettierrc
          retention-days: 1
