name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    name: Full testing process
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Meadowlark-js

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: NPM caching
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Install dependencies
        run: yarn install

      - name: Linter
        run: yarn test:lint

      - name: Unit tests with code coverage
        run: yarn test:unit:coverage --ci --config ./jest.ci-config.js
        env:
          JEST_JUNIT_OUTPUT_DIR: unit-tests

      - name: Archive coverage results
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: code-coverage-report
          path: Meadowlark-js/coverage/lcov-report
          retention-days: 10

      - name: Integration tests
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -U postgres -c "alter user postgres with password 'abcdefgh1!';"
          yarn test:integration --ci --config ./jest.ci-config.js
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "abcdefgh1!"
          JEST_JUNIT_OUTPUT_DIR: integration-tests

      - name: System tests
        run: yarn test:system --ci --config ./jest.ci-config.js
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "abcdefgh1!"
          JEST_JUNIT_OUTPUT_DIR: system-tests
      - name: Upload test results
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: test-results
          path: |
            Meadowlark-js/unit-tests/junit.xml
            Meadowlark-js/integration-tests/junit.xml
            Meadowlark-js/system-tests/junit.xml
          retention-days: 1

  end-to-end:
    name: End to End tests for ${{ matrix.config.db }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          [
            { db: "Mongo", plugin: "@edfi/meadowlark-mongodb-backend" },
            { db: "PGSQL", plugin: "@edfi/meadowlark-postgresql-backend" },
          ]

    defaults:
      run:
        working-directory: Meadowlark-js

    env:
      POSTGRES_PASSWORD: abcdefgh1!

    services:
      opensearch:
        image: opensearchproject/opensearch:latest
        ports:
          - 9200:9200
        env:
          cluster.name: opensearch-cluster
          bootstrap.memory_lock: true # along with the memlock settings below, disables swapping
          OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
          discovery.type: single-node
          DISABLE_INSTALL_DEMO_CONFIG: true # disables execution of install_demo_configuration.sh bundled with security plugin, which installs demo certificates and security configurations to OpenSearch
          DISABLE_SECURITY_PLUGIN: true # disables security plugin entirely in OpenSearch by setting plugins.security.disabled: true in opensearch.yml

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: NPM caching
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Install dependencies
        run: yarn install

      - if: ${{ matrix.config.db == 'PGSQL' }}
        name: Start Postgres Container
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -U postgres -d postgres -c "alter user postgres with password '${{ env.POSTGRES_PASSWORD }}';"

      # Always start MongoDB, as it is used by the authorization system.
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@538a4d2a1041920c47630172445cb688592d6e51 #v1.8.0
        with:
          mongodb-version: "4.0.28"
          mongodb-replica-set: rs0
          mongodb-port: 42069

      # This caching is breaking Lerna 6. Look into in more detail to see if we can fix.
      # - name: Cache Build
      #   uses: actions/cache@48af2dc4a9e8278b89d7fa154b955c30c6aaab09 #v3.0.2
      #   env:
      #     cache-name: cache-build
      #   with:
      #     path: "**/dist/**"
      #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/dist/**') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Build
        # if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        run: yarn build

      - name: End to End tests for ${{matrix.config.db}}
        run: |
          cp ./tests/e2e/automation-setup/e2e.env ./tests/e2e/.env
          yarn test:e2e --ci --reporters="jest-junit"
        env:
          JEST_JUNIT_OUTPUT_DIR: ${{matrix.config.db}}-e2e-tests

      # Should be refactored until issue with save to file is fixed
      # - name: Upload logs
      #   if: failure()
      #   uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
      #   with:
      #     name: fastify-logs
      #     path: "**/fastify.log"
      #     retention-days: 10

      # Workaround for issue https://github.com/actions/upload-artifact/issues/174
      - name: Upload test results
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: test-results
          path: |
            Meadowlark-js/${{matrix.config.db}}-e2e-tests/junit.xml
            Meadowlark-js/.prettierrc
          retention-days: 1
